# Core
python-dotenv==1.0.1

# LLM + Embeddings
google-genai
tiktoken>=0.7.0
sentence-transformers>=2.2.0

# LangChain ecosystem
langchain>=0.2.6
langchain-community>=0.2.6

# Vector DB
faiss-cpu>=1.8.0

# PDF processing
pypdf>=4.2.0

# UI
streamlit>=1.35.0

# Utilities
numpy>=1.26.0
pandas>=2.2.0
